{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron2.jpg" "title" "Launch Food hub with us, free!" "subtitle" "Welcome to Tiny Food Sustainable Farming support.") }}

{{ partial "short-text" (dict "heading" "What is Tiny Food?" "text" "TinyFood.org strives to educate while improving access to high quality food.  Our approach is to support the development of food hubs. Our goals are basic... to make it possible for low income families to afford predominantly organic, locally sourced sustainable foods.")}}

{{ partial "2-up" (dict "heading" "How to Participate" "description" "Have you considered what a food hub would look like between yourself and friends in your area?." "buttonText" "find out more" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Healthy food is not something to deny to one another due to economic disparity. TinyFood.org empasizes local, seasonal, & on-sale priced organic & natural food items.  By reaching out and helping our neighbors, we build community." "buttonText" "Get involved" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
