{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Values") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Food hub as incubator" "text" "" "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "many origins" "text" "Single-origin coffee is coffee grown within a single known geographic origin. Sometimes, this is a single farm or a specific collection of beans from a single country. The name of the coffee is then usually the place it was grown to whatever degree available." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Local is sustainable" "text" "Sustainable farming is based on an understanding of ecosystem services, the study of relationships between organisms and their environment. What grows where and how it is grown are a matter of choice and careful consideration for nature and communities." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" "Food hubs allow for direct trade practices which promote communication between buyer and farmer while incentivizing quality." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want farms, local businesses and effective schools everywhere we work." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
